<a href="https://colab.research.google.com/github/vagadheeswarikona/SQL-Murder-Mystery-Investigation/blob/main/Week5_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con= sqlite3.connect('/content/drive/MyDrive/sql-murder-mystery.db')

In [ ]:
con

In [ ]:
cur = con.cursor()

In [ ]:
cur

In [ ]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
print(tables)

[('crime_scene_report',), ('drivers_license',), ('person',), ('facebook_event_checkin',), ('interview',), ('get_fit_now_member',), ('get_fit_now_check_in',), ('income',), ('solution',)]

#Describe Tables

In [ ]:
lists=[]
for table in tables:
  table_name = table[0]
  print(f"{table_name}")
  try:
    # Use the correct format for the PRAGMA command
    cur.execute(f"PRAGMA table_info('{table_name}');")
    columns = cur.fetchall()
    # Print column details and append to the list
    for column in columns:
      lists.append(column)
      print(column)
  except sqlite3.OperationalError:
    print(f"Table '{table_name}' does not exist.")

crime_scene_report
(0, 'date', 'INTEGER', 0, None, 0)
(1, 'type', 'TEXT', 0, None, 0)
(2, 'description', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
drivers_license
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'age', 'INTEGER', 0, None, 0)
(2, 'height', 'INTEGER', 0, None, 0)
(3, 'eye_color', 'TEXT', 0, None, 0)
(4, 'hair_color', 'TEXT', 0, None, 0)
(5, 'gender', 'TEXT', 0, None, 0)
(6, 'plate_number', 'TEXT', 0, None, 0)
(7, 'car_make', 'TEXT', 0, None, 0)
(8, 'car_model', 'TEXT', 0, None, 0)
person
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 0, None, 0)
(2, 'license_id', 'INTEGER', 0, None, 0)
(3, 'address_number', 'INTEGER', 0, None, 0)
(4, 'address_street_name', 'TEXT', 0, None, 0)
(5, 'ssn', 'INTEGER', 0, None, 0)
facebook_event_checkin
(0, 'person_id', 'INTEGER', 0, None, 0)
(1, 'event_id', 'INTEGER', 0, None, 0)
(2, 'event_name', 'TEXT', 0, None, 0)
(3, 'date', 'INTEGER', 0, None, 0)
interview
(0, 'person_id', 'INTEGER', 0, None, 0)
(1, 'transcript', 'TEXT', 0, None, 0)
get_fit_now_member
(0, 'id', 'TEXT', 0, None, 1)
(1, 'person_id', 'INTEGER', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'membership_start_date', 'INTEGER', 0, None, 0)
(4, 'membership_status', 'TEXT', 0, None, 0)
get_fit_now_check_in
(0, 'membership_id', 'TEXT', 0, None, 0)
(1, 'check_in_date', 'INTEGER', 0, None, 0)
(2, 'check_in_time', 'INTEGER', 0, None, 0)
(3, 'check_out_time', 'INTEGER', 0, None, 0)
income
(0, 'ssn', 'INTEGER', 0, None, 1)
(1, 'annual_income', 'INTEGER', 0, None, 0)
solution
(0, 'user', 'INTEGER', 0, None, 0)
(1, 'value', 'TEXT', 0, None, 0)

# Retrieve Crime Scene Report:

In [ ]:
cur.execute("select type,description from crime_scene_report where city='SQL City'")
rows = cur.fetchall()
pd.set_option('display.max_colwidth', None)
# Create a DataFrame from the fetched rows
df = pd.DataFrame(rows, columns=['Type', 'Description'])
print(df)

      Type  \
0   murder
1   murder
2    theft
3    arson
4  robbery
5  bribery
6  assault
7  assault
8   murder

                                                                                                                                                                                                                                                              Description
0                                                                                                                                                                                                                                              REDACTED REDACTED REDACTED
1                                                                                                                                                                                                                 Someone killed the guard! He took an arrow to the knee!
2              A lone hunter stalks the night, firing arrows into the Darkness.\n            There is no hiding, no escape. In the distance, the beast\n            falters, tethered to the void. The killing blow comes without\n            hesitation, without mercy.
3                                                                                                                                                                  Wield the Hammer of Sol with honor, Titan, it is a thing of\n            legend, both past and future.
4  The Gjallarhorn shoulder-mounted rocket system was forged from\n            the armor of Guardians who fell at the Twilight Gap. Gifted\n            to the survivors of that terrible battle, the Gjallarhorn\n            is seen as a symbol of honor and survival.
5                                                                                                                                                 Apparently, Cayde thought it necessary to expose this extremely\n            rare vegetable to a Hive summoning ritual.
6                                                                                                                                                                                             Hamilton: Lee, do you yield? Burr: You shot him in the side! Yes he yields!
7                                                                                                                                                                                                                                                        Report Not Found
8                                                                               Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".

#1st Witness

In [ ]:
cur.execute("select * from person where address_street_name='Northwestern Dr'  order by address_number desc limit 1")
rows = cur.fetchall()
for row in rows:
  print(row)

(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', 111564949)

In [ ]:
cur.execute("select * from interview where person_id=14887")
rows = cur.fetchall()
for row in rows:
  print(row)

(14887, 'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".')

In [ ]:
cur.execute("select * from get_fit_now_member where id like '48Z%' and membership_status='gold'")
rows = cur.fetchall()
for row in rows:
  print(row)

('48Z7A', 28819, 'Joe Germuska', 20160305, 'gold')
('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold')

In [ ]:
cur.execute("select * from get_fit_now_check_in where check_in_date=20180109 and membership_id like '48Z%'")
rows = cur.fetchall()
for row in rows:
  print(row)

('48Z7A', 20180109, 1600, 1730)
('48Z55', 20180109, 1530, 1700)

In [ ]:
cur.execute("select * from drivers_license where plate_number like '%H42W%'")
rows = cur.fetchall()
for row in rows:
  print(row)

(183779, 21, 65, 'blue', 'blonde', 'female', 'H42W0X', 'Toyota', 'Prius')
(423327, 30, 70, 'brown', 'brown', 'male', '0H42W2', 'Chevrolet', 'Spark LS')
(664760, 21, 71, 'black', 'black', 'male', '4H42WR', 'Nissan', 'Altima')

In [ ]:
cur.execute("select * from person where license_id=183779 or license_id=423327 or license_id=664760")
rows = cur.fetchall()
for row in rows:
  print(row)

(51739, 'Tushar Chandra', 664760, 312, 'Phi St', 137882671)
(67318, 'Jeremy Bowers', 423327, 530, 'Washington Pl, Apt 3A', 871539279)
(78193, 'Maxine Whitely', 183779, 110, 'Fisk Rd', 137882671)

#Result

In [ ]:
cur.execute("select * from get_fit_now_member where person_id=7819 or person_id=67318 or person_id=51739")
rows = cur.fetchall()
for row in rows:
  print(row)

('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold')

#Checking the other Gym person how have the gold badge

In [ ]:
cur.execute("select * from get_fit_now_member where id='48Z7A'")
rows = cur.fetchall()
for row in rows:
  print(row)

('48Z7A', 28819, 'Joe Germuska', 20160305, 'gold')

In [ ]:
cur.execute("select * from get_fit_now_check_in where membership_id='48Z7A'")
rows = cur.fetchall()
for row in rows:
  print(row)

('48Z7A', 20180109, 1600, 1730)

In [ ]:
cur.execute("select * from person where id=28819")
rows = cur.fetchall()
for row in rows:
  print(row)

(28819, 'Joe Germuska', 173289, 111, 'Fisk Rd', 138909730)

In [ ]:
cur.execute("select * from drivers_license where id=173289")
rows = cur.fetchall()
for row in rows:
  print(row)

#Interview the Jeremy Bowers

In [ ]:
cur.execute("select * from interview where person_id=67318")
rows = cur.fetchall()
for row in rows:
  print(row)

(67318, 'I was hired by a woman with a lot of money. I don\'t know her name but I know she\'s around 5\'5" (65") or 5\'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n')

In [ ]:
cur.execute("select * from drivers_license where car_make='Tesla'and hair_color='red' and gender='female'")
rows = cur.fetchall()
for row in rows:
  print(row)

(202298, 68, 66, 'green', 'red', 'female', '500123', 'Tesla', 'Model S')
(291182, 65, 66, 'blue', 'red', 'female', '08CM64', 'Tesla', 'Model S')
(918773, 48, 65, 'black', 'red', 'female', '917UU3', 'Tesla', 'Model S')

In [ ]:
first_elements = []

# Extract the first element from each row
for row in rows:
    first_elements.append(row[0])  # Get the first element

# Print the list of first elements
print(first_elements)

[202298, 291182, 918773]

In [ ]:
placeholders = ','.join('?' for _ in first_elements)

# Query the person table to find matches
cur.execute(f"SELECT * FROM person WHERE license_id IN ({placeholders})", first_elements)
matching_rows = cur.fetchall()
match=[]
for row in matching_rows:
  match.append(row)
print(match)

[(78881, 'Red Korb', 918773, 107, 'Camerata Dr', 961388910), (90700, 'Regina George', 291182, 332, 'Maple Ave', 337169072), (99716, 'Miranda Priestly', 202298, 1883, 'Golden Ave', 987756388)]

In [ ]:
match_elements = []
# Extract the first element from each row
for row in match:
   match_elements.append(row[0])  # Get the first element

# Print the list of first elements
print(match_elements)

[78881, 90700, 99716]

In [ ]:
placeholders = ','.join('?' for _ in match_elements)
query = f"""
SELECT person_id, count(*) as checkin_count, event_name
FROM facebook_event_checkin
WHERE person_id IN ({placeholders})
GROUP BY person_id, event_name
HAVING checkin_count = 3 AND event_name = 'SQL Symphony Concert' AND date LIKE '%201712%'
"""
cur.execute(query, match_elements)
matching_rows = cur.fetchall()
for row in matching_rows:
    print(row)

(99716, 3, 'SQL Symphony Concert')

In [ ]:
cur.execute("select * from interview where person_id=99716")
rows = cur.fetchall()
for row in rows:
  print(row)

In [ ]:
cur.execute("select * from person where id=99716")
rows = cur.fetchall()
for row in rows:
  print(row)

(99716, 'Miranda Priestly', 202298, 1883, 'Golden Ave', 987756388)

#2nd Witness

In [ ]:
cur.execute("select * from interview where person_id=16371")
rows = cur.fetchall()
for row in rows:
  print(row)

(16371, 'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.')

In [ ]:
cur.execute("select * from person where address_street_name='Franklin Ave' and name like '%Annabel%'")
rows = cur.fetchall()
for row in rows:
  print(row)

(16371, 'Annabel Miller', 490173, 103, 'Franklin Ave', 318771143)

In [ ]:
cur.execute("select * from get_fit_now_check_in where check_in_date='20180109'")
rows = cur.fetchall()
# Initialize an empty list to store the rows
rows_list = []
# Add each row to the list
for row in rows:
    rows_list.append(row)
# Print the list
print(rows_list)

[('X0643', 20180109, 957, 1164), ('UK1F2', 20180109, 344, 518), ('XTE42', 20180109, 486, 1124), ('1AE2H', 20180109, 461, 944), ('6LSTG', 20180109, 399, 515), ('7MWHJ', 20180109, 273, 885), ('GE5Q8', 20180109, 367, 959), ('48Z7A', 20180109, 1600, 1730), ('48Z55', 20180109, 1530, 1700), ('90081', 20180109, 1600, 1700)]

In [ ]:
membership_ids = []
# Extract the membership IDs from the rows and add them to the list
for row in rows_list:
    membership_ids.append(row[0])
# Print the list of membership IDs
print(membership_ids)

['X0643', 'UK1F2', 'XTE42', '1AE2H', '6LSTG', '7MWHJ', 'GE5Q8', '48Z7A', '48Z55', '90081']

In [ ]:
placeholders = ','.join('?' for _ in membership_ids)
cur.execute(f"SELECT * FROM get_fit_now_member WHERE id IN ({placeholders})", membership_ids)
rows = cur.fetchall()
rows_ids=[]
for row in rows:
  rows_ids.append(row)
print(rows_ids)

[('1AE2H', 10815, 'Adriane Pelligra', 20170816, 'silver'), ('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold'), ('48Z7A', 28819, 'Joe Germuska', 20160305, 'gold'), ('6LSTG', 83186, 'Burton Grippe', 20170214, 'gold'), ('7MWHJ', 31523, 'Blossom Crescenzo', 20180309, 'regular'), ('90081', 16371, 'Annabel Miller', 20160208, 'gold'), ('GE5Q8', 92736, 'Carmen Dimick', 20170618, 'gold'), ('UK1F2', 28073, 'Zackary Cabotage', 20170818, 'silver'), ('X0643', 15247, 'Shondra Ledlow', 20170521, 'silver'), ('XTE42', 55662, 'Sarita Bartosh', 20170524, 'gold')]

In [ ]:
person_ids = []
# Extract the membership IDs from the rows and add them to the list
for row in rows_ids:
    #a=(row[1])
    b=(row[2])
# Print the list of membership IDs
    #person_ids.append(a)
    #person_ids.append("->")
    person_ids.append(b)
print(person_ids)

['Adriane Pelligra', 'Jeremy Bowers', 'Joe Germuska', 'Burton Grippe', 'Blossom Crescenzo', 'Annabel Miller', 'Carmen Dimick', 'Zackary Cabotage', 'Shondra Ledlow', 'Sarita Bartosh']

In [ ]:
#Here Jeremy Bowers is matched with the information from the first witness

#Here Jeremy Bowers is matched with the information from the first witness

#Solution To find the Killer

In [ ]:
cur.execute("select * from solution")
rows = cur.fetchall()
for row in rows:
  print(row)

(0, 'Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!')

In [ ]:
cur.execute("INSERT INTO solution (user, value) VALUES (?, ?)", (1, 'Jeremy Bowers'))
cur.execute("INSERT INTO solution (user, value) VALUES (?, ?)", (1, 'Miranda Priestly'))
con.commit()

In [ ]:
cur.execute("select * from solution")
rows = cur.fetchall()
for row in rows:
  print(row)

(0, 'Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!')

In [ ]:
con.close()